<main class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
      <br>
      <h1 class="text-center">The Most Popular 15 Superheros Are ...</h1>
      <br>
      <% place = 1 %>
      <table class="table table-striped">
        <tr class="success">
          <td class="text-center"><strong>Place</strong></td>
          <td><strong>The Awesome Superhero</strong></td>
          <td class="text-center"><strong>Appears in # comic</strong></td>
          <td><strong>Resides in</strong></td>
        </tr>
        <% @characters.each do |character| %>
          <tr>
            <td class="text-center"><%= place %></td>
            <td><strong><%= character[:name] %></strong></td>
            <td class="text-center"><%= character[:comics][:available] %></td>
            <td><%= character[:location] %></td>
          </tr>
          <% place += 1  %>
        <% end %>
      </table>

      <br>

      <h1 class="text-center">Within 500 miles from Boston <br><small>...from closest to furthest</small></h1>
      <br>
      <table class="table table-striped">
        <tr class="success">
          <td class="text-center"><strong>Place</strong></td>
          <td><strong>The Awesome Superhero</strong></td>
          <td class="text-center"><strong>Appears in # comic</strong></td>
          <td><strong>Resides in</strong></td>
          <td><strong>Distance to Boston</strong></td>
        </tr>
        <% place = 1 %>
        <% @boston_characters.each_with_index do |char, i| %>
          <tr>
            <td class="text-center"><%= place %></td>
            <td><strong><%= char[:name] %></strong></td>
            <td class="text-center"><%= char[:comics][:available] %></td>
            <td><%= char[:location] %></td>
            <td><%= @distances[i] %> Miles</td>
          </tr>
          <% place += 1  %>
        <% end %>
      </table>
      <br>
      <h3 class="text-center"> <%= link_to "Find The Heros Closest To You", search_path  %></h3>
      <br><br>
    </div>
  </div>
</main>
